<h4>Formularios <small> template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <!--NOMBRE-->
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput
                 type="text" [ngModel]="usuario.nombre.value" #nombre="ngModel"
                 name="nombre" [required]="true" minlength="{{ usuario.nombre.length }}">
          <mat-error *ngIf="nombre.invalid && nombre.touched">Debe contener al menos {{ usuario.nombre.length }} caracteres</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--APELLIDO-->
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput
                 type="text" [ngModel]="usuario.apellido.value" #apellido="ngModel"
                 name="apellido" [required]="true" minlength="{{ usuario.apellido.length }}">
          <mat-error *ngIf="apellido.invalid && apellido.touched">Debe contener al menos {{ usuario.apellido.length }} caracteres</mat-error>
        </mat-form-field>
      </div>
    </div>

  </div>

  <!--CORREO-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput
               type="text" [ngModel]="usuario.apellido.value" #correo="ngModel"
               name="correo" [required]="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <mat-error *ngIf="correo.invalid && correo.touched">Ajustese al formato de correo</mat-error>
      </mat-form-field>
    </div>
  </div>

  <!--PAÍS-->
  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class=" col-md-8">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>País</mat-label>
        <input type="text"
               placeholder="Selecciona un país"
               aria-label="Number"
               matInput #buscador
               [matAutocomplete]="auto"
               (keyup)="actualizarSelect(buscador.value)"
               [required]="true">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let pais of paisesBuscados" [value]="pais.name">
            {{ pais.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <!--GÉNERO-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               name="genero"
               id="masculino"
               value="M"
               required
               ngModel #genero="ngModel" />
        <label class="form-check-label" for="masculino">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               name="genero"
               id="femenino"
               value="F"
               required
               ngModel #genero="ngModel" />
        <label class="form-check-label" for="femenino">Femenino</label>
      </div>
      <small *ngIf="genero.invalid && genero.touched"
             class="form-text text-danger">
        Se debe seleccionar un género
      </small>
    </div>
  </div>

  <!--BOTONES-->
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block rounded" [class.disabled]="!forma.valid" (click)="llamarModal()">
        Guardar
      </button>
      <button type="reset" class="btn btn-outline-danger btn-block ms-3 rounded">Cancelar</button>
    </div>
  </div>

</form>
