<h4>Formularios <small> reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma)">

  <div>

    <!--NOMBRE-->
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput
                 type="text"
                 formControlName="nombre">
          <mat-error *ngIf="!validar('nombre')">Debe introducir al menos 5 letras</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--APELLIDO-->
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput
                 type="text"
                 formControlName="apellido">
          <mat-error *ngIf="!validar('apellido')">Debe introducir al menos 5 letras</mat-error>
        </mat-form-field>
      </div>
    </div>

  </div>

  <!--CORREO-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput
               type="email"
               formControlName="email"
               placeholder="Ej. email@ejemplo.com">
        <mat-error *ngIf="!validar('email')">Ajústese al formato de correo</mat-error>
      </mat-form-field>
    </div>
  </div>

  <hr>

  <!--USUARIO-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-8">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput
               type="text"
               formControlName="usuario">
        <mat-error *ngIf="!validar('usuario')">El nombre de usuario ya existe</mat-error>
      </mat-form-field>
    </div>
  </div>

  <br>

  <!--CONTRASEÑA-->
  <div class="form-group row" formGroupName="passwords">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="form-row col-8 pr-1" id="indicador">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput
                 type="password"
                 formControlName="pass1"
                 id="pass1" (keyup)="passStrength()">
        </mat-form-field>
        </div>
        <div class="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Repetir contraseña</mat-label>
          <input matInput
                 type="password"
                 formControlName="pass2"
                 id="pass2">
          <mat-error *ngIf="!pass2Valido || !validar('passwords.pass2')">Las contraseñas no coinciden</mat-error>
        </mat-form-field>
      </div>
      <i id="iconText" class="fas fa-info-circle float-start me-2"></i>
      <p id="passText"></p>
      <i id="button" class="fas fa-eye show_hide btn btn-outline-secondary float-end mt-2" (click)="showHide()"></i>
    </div>
  </div>

  <hr>

  <!--DIRECCIÓN-->
  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col-8 pr-1">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Distrito</mat-label>
          <input matInput
                 type="text"
                 formControlName="distrito">
          <mat-error *ngIf="!validar('direccion.distrito')">Ajústese al formato</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ciudad</mat-label>
          <input matInput
                 type="text"
                 formControlName="ciudad">
          <mat-error *ngIf="!validar('direccion.ciudad')">Ajústese al formato</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--FECHA NAVIMIENTO-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Fecha Nacimiento</label>
    <div class="col-8">
      <mat-form-field appearance="fill">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate"
               formControlName="fechaNacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!validar('direccion.ciudad')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
  </div>
  <hr>

  <!--EXPERIENCIA-->
  <div class="form-group row">
    <label class="col-2 col-form-label">Experiencia Programando</label>
    <div class="col-8">
        <mat-slider
          thumbLabel step="1"
          min="0" max="60"
          formControlName="experiencia"
          aria-label="units"
          class="w-100"></mat-slider>
    </div>
  </div>

  <!--FRAMEWORKS-->
  <div class="form-group row" formArrayName="frameworks">
    <label class="col-2 col-form-label">Seleccione los Frameworks que conozca</label>
    <div class="col-8">
      <p *ngFor="let framework of listaFrameworks; let i = index">
        <mat-checkbox (change)="onCheckboxChange($event)"
        [value]="framework.value">
          {{ framework.name }}
        </mat-checkbox>
      </p>
    </div>
  </div>

  <!--PASATIEMPO-->
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table table-dark table-striped mt-3">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Pasatiempo</th>
          <th>Borrar</th>
        </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
        <tr *ngFor="let pasatiempo of pasatiempos.controls; let i = index">
        <td>{{i + 1}}</td>
          <td> <input class="form-control" [formControlName]="i"></td>
          <td> <button class="btn btn-danger" (click)="borrarPasatiempo(i)">Borrar</button ></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-secondary btn-block my-5" type="button" (click)="agregarPasatiempo()">+ Añadir</button>
    </div>
  </div>


  <!--VALIDACIÓN-->
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block rounded" data-bs-toggle="modal" data-bs-target="#exampleModal"
              [class.disabled]="!forma.valid" (click)="llamarModal()">
        Guardar
      </button>
      <button type="reset" class="btn btn-outline-danger btn-block ms-3 rounded">Cancelar</button>
    </div>
  </div>

</form>

<hr />
<pre>
  Formulario válido: {{ forma.valid }}
  Status: {{ forma.status }}
  <hr />
  {{ forma.value | json }}
</pre>

